<p align="center">This is the Marvel dashboard for ComicId, Title and Description (truncated using filter) :).</p>
<div>

  <!--<ul ng-repeat="mic in comicList">
    <li ng-repeat="res in mic.data.results">#{{res.id}} -&#45;&#45;&#45;&#45; {{res.title}} -&#45;&#45;&#45;&#45;&#45;&#45; {{res.description | truncate:40}}</li>
  </ul>-->

  <table class="center">
    <th>ComicId</th>
    <th>Title</th>
    <th>Description</th>
  </table>
  <table ng-repeat="comic in comicList" class="center">

    <tr ng-repeat="detail in comic.data.results">
      <td>
        {{detail.id}}
      </td>
      <td>
        {{detail.title}}
      </td>
      <td>
        {{detail.description | truncate:40}}
      </td>
    </tr>
  </table>
</div>

